$color-principal: #3e0077;
$color-principal-comp: #7b2cbf;
$color-principal-comp2: #220b38;
$color-textos: #d7feff;
$amarillo: #ffce3a;
$amarillo-comp:#ff9900;
$negro: #000000;
$celeste: #39c3ff;
$celeste-comp: #0084ff;